.app {
  padding: 30px;
  background-color: floralwhite;
  min-height: 100vh;
  height: 100%;
}

.rating {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}